body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 100px;
  margin-bottom: 50px;

  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
