.owl-carousel {
  .item {
    display: inline-block;
    border: 2px dotted #00b894;
    border-radius: 15px;
    color: #00b894;
    padding: 2px 8px;
    min-width: 100px;
  }

  .item-md {
    display: inline-block;
    border-radius: 15px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    padding: 15px 2px;
    min-width: 225px;
  }
}
