.component-products {
  margin-bottom: 20px;

  &:hover {
    text-decoration: none;
  }

  .products-thumbnail {
    width: 100%;
    height: 150px;
    border-radius: 8px;

    overflow: hidden;
    position: relative;
    z-index: 1;

    &:hover,
    &:focus {
      .products-image {
        transform: scale(1.1);
      }
    }

    .products-image {
      width: 100%;
      height: 100%;

      background-color: #ddd;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      transition: all 0.3s ease;
    }
  }

  .products-text {
    font-weight: normal;
    font-size: 18px;
    color: #0b300d;
    margin-top: 12px;
  }

  .products-button {
    margin-top: 17px;
    border-color: #00b894;
    color: #00b894;
    float: right;
  }

  .products-price {
    font-weight: 500;
    color: #ff7158;
  }
  .products-desc {
    font-weight: lighter;
    color: #585858;
    font-size: 12px;
  }
}
